/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --color-bg: #fff;
  --color-bg-dark: #f0f4c3;
  --color-bg-light: #dfd6cd;
  --color-bg-light-trans: rgba(225, 222, 219, 0.3);
  --color-white: #fff;
  --color-black: #000;
  --color-btn-bg: #a4a387;
  --color-btn-bg-hover: #6b6d55;

  --color-gamma-0: #fff;
  --color-gamma-1: #e8d0b6;
  --color-gamma-2: #dfd6cd;
  --color-gamma-3: #a4a387;
  --color-gamma-4: #6b6d55;

  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.in_invite_section {
  font-size: 2.8rem;
}
.in_title_font {
  font-weight: 400;
  font-style: normal;
}
.in_page {
  font-family: "Cormorant Garamond", serif;
}
.in_dark_bg {
  background-color: var(--color-bg-dark);
}
.in_ligth_bg {
  background-color: var(--color-bg-light-trans);
}
.in_very_dark_bg {
  background-color: var(--color-btn-bg-hover);
}
.in_as_btn {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  color: var(--color-white);
  background-color: var(--color-btn-bg);
  border: 1px solid var(--color-btn-bg);
  border-radius: 5px;
  text-decoration: none;
  margin: 0 auto;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
}
.in_as_btn:hover {
  background-color: var(--color-btn-bg-hover);
}
.in_as_btn_outlined {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  color: var(--color-btn-bg);
  background-color: var(--color-bg);
  border: 1px solid var(--color-btn-bg);
  border-radius: 5px;
  text-decoration: none;
  margin: 0 auto;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
}
.in_as_btn_outlined:hover {
  background-color: var(--color-bg-dark);
}
.in_btn_fixed {
  width: 50px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.in_text {
  font-size: 1.3rem;
}
.in_text_sm {
  font-size: 1.2rem;
}
.in_center_text {
  text-align: center;
}
.in_text_upper {
  text-transform: uppercase;
}
.in_txt_white {
  color: var(--color-white);
}
.in_txt_italic {
  font-style: italic;
}
.in_txt_bigger {
  font-size: 1.5rem;
}
.in_pad {
  padding-left: 20px;
  padding-right: 20px;
}
.in_header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.in_head_pad {
  padding-top: 240px;
  padding-bottom: 40px;
}
.in_header-title {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  color: var(--color-black);
  text-shadow: none;
  font-size: 3rem;
  line-height: 0.6;
}
.in_left {
  display: inline-block;
  text-align: center;
}
.in_right {
  display: inline-block;
  text-align: center;
}
.in_plus {
  display: inline-block;
  text-align: center;
}
.in_head_date {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
}
.in_head_date_inner {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.in_head_date_item {
  text-align: center;
  width: calc((100% - 40px) / 3);
}
.in_head_date_number {
  font-size: 3.4rem;
  margin-top: -20px;
}
.in_head_date_border {
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  padding-bottom: 6px;
}

/* buttons for answer */
.in_guest_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.in_guest_btn {
  display: flex;
  gap: 4px;
}

/* custom calendar */
.in_invite_calendar {
  display: block;
}
.in_invite_calendar_title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}
.in_invite_calendar_days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-between;
  align-items: flex-start;
}
.in_invite_calendar_dayname {
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  width: calc((100% - 24px) / 7);
}
.in_invite_calendar_daynumber {
  text-align: center;
  width: calc((100% - 24px) / 7);
}
.in_invite_calendar_dayname_sel {
  font-weight: 600;
}
.in_sel_icon {
  background-image: url(/heart.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center bottom;
  height: 40px;
}

.in_palitra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.in_palitra_item {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-black);
}
.pi0 {
  background-color: var(--color-gamma-0);
}
.pi1 {
  background-color: var(--color-gamma-1);
}
.pi2 {
  background-color: var(--color-gamma-2);
}
.pi3 {
  background-color: var(--color-gamma-3);
}
.pi4 {
  background-color: var(--color-gamma-4);
}
/* REPLACE STYLES */
.in_timer {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: -80px;
}
.in_timer > p {
  display: none;
}

.in_invite {
  padding-top: 0;
  background-color: transparent;
}
.in_invite_title {
  margin-left: -20px;
  margin-right: -20px;
  padding: 30px 40px 0px 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--color-black);
  text-shadow: 2px 2px 2px var(--color-white);
}
.in_invite_section {
  font-size: 2.8rem;
}
.in_invite_bg_one {
  /* background-image: radial-gradient(closest-side, #ffffff, transparent),
    url(/tserkva.jpg); */
}
.in_invite_bg_two {
  /* background-image: radial-gradient(closest-side, #ffffff, transparent),
    url(/zal.jpg); */
}

.in_invite_desc p {
  margin: 15px 0;
}

/* Back timer styles */
.in_back_timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 20px;
  text-shadow: none;
  font-family: "Courier New", Courier, monospace;
}
.in_bt_item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.in_bt_item:not(:last-of-type)::after {
  content: "·";
  font-size: 2rem;
  color: var(--color-black);
  position: absolute;
  top: 4px;
  right: -16px;
}
.in_bt_val {
  font-size: 2.6rem;
  color: var(--color-black);
}
.in_bt_sign {
  font-size: 0.8rem;
  color: var(--color-black);
}

.in_img_tsan {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
