:root{
    --color-bg:#eceff1;
    --color-bg-dark:#cfd8dc;
    --color-white:#fff;
    --color-black:#000;
    --color-btn-bg:#90a4ae;
    --color-btn-bg-hover:#607d8b;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
