/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --color-bg: #fff;
  --color-bg-dark: #d7ccc8;
  --color-bg-light: #f1eeec;
  --color-white: #fff;
  --color-black: #000;
  --color-btn-bg: #6d4c41;
  --color-btn-bg-hover: #3e2723;
  --color-timer: #9e9e9e;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.in_title_font {
  font-weight: 400;
  font-style: normal;
}
.in_page {
  font-family: "Cormorant Garamond", serif;
}
.in_dark_bg {
  background-color: var(--color-bg-dark);
}
.in_ligth_bg {
  background-color: var(--color-bg-light);
}
.in_very_dark_bg {
  background-color: var(--color-btn-bg-hover);
}
.in_as_btn {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  color: var(--color-white);
  background-color: var(--color-btn-bg);
  border: 1px solid var(--color-btn-bg);
  border-radius: 5px;
  text-decoration: none;
  margin: 0 auto;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
}
.in_as_btn:hover {
  background-color: var(--color-btn-bg-hover);
}
.in_as_btn_outlined {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  color: var(--color-btn-bg);
  background-color: var(--color-bg);
  border: 1px solid var(--color-btn-bg);
  border-radius: 5px;
  text-decoration: none;
  margin: 0 auto;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
}
.in_as_btn_outlined:hover {
  background-color: var(--color-bg-dark);
}
.in_btn_fixed {
  width: 50px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in_text {
  font-size: 1.3rem;
}
.in_text_sm {
  font-size: 1.1rem;
}
.in_center_text {
  text-align: center;
}
.in_text_upper {
  text-transform: uppercase;
}
.in_txt_white {
  color: var(--color-white);
}
.in_txt_italic {
  font-style: italic;
}
.in_txt_bigger {
  font-size: 1.5rem;
}
.in_pad {
  padding-left: 20px;
  padding-right: 20px;
}
.in_header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.in_head_pad {
  padding-top: 520px;
  padding-bottom: 40px;
}
.in_header-title {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  font-size: 4rem;
  transform: rotate(-8deg);
  /* text-shadow: 2px 2px 2px var(--color-white); */
  line-height: 0.7;
  color: var(--color-white);
}
.in_left {
  display: inline-block;
  text-align: left;
}
.in_right {
  display: inline-block;
  text-align: right;
  margin-top: -60px;
  padding-right: 30px;
}

.in_plus {
  display: inline-block;
  font-size: 152px;
  text-align: center;
  margin-top: -90px;
  padding-right: 50px;
}
.in_title_font {
  font-weight: 500;
  color: var(--color-black);
  font-style: italic;
}

/* buttons for answer */
.in_guest_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.in_guest_btn {
  display: flex;
  gap: 4px;
}

/* custom calendar */
.in_invite_calendar {
  display: block;
}
.in_invite_calendar_title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}
.in_invite_calendar_days {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: space-between;
  align-items: flex-start;
}
.in_invite_calendar_dayname {
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  width: calc((100% - 24px) / 7);
}
.in_invite_calendar_daynumber {
  text-align: center;
  width: calc((100% - 24px) / 7);
}
.in_invite_calendar_dayname_sel {
  font-weight: 600;
}
.in_sel_icon {
  background-image: url(/heartd.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center top;
  min-height: 160px;
}

/* REPLACE STYLES */
.in_very_dark_bg {
  background-color: transparent;
}
.in_timer {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: -80px;
}
.in_timer > p {
  display: none;
}
.in_ligth_bg {
  background-color: var(--color-bg-light);
}

.in_invite {
  padding-top: 0;
  background-color: transparent;
}
.in_invite_title {
  margin-left: -20px;
  margin-right: -20px;
  padding: 100px 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--color-black);
  text-shadow: 2px 2px 2px var(--color-white);
}
.in_invite_section {
  font-size: 2.8rem;
}
.in_invite_bg_one {
  background-image: radial-gradient(closest-side, #ffffff, transparent),
    url(/tserkva.jpg);
}
.in_invite_bg_two {
  background-image: radial-gradient(closest-side, #ffffff, transparent),
    url(/zal.jpg);
}

.in_invite_desc p {
  margin: 15px 0;
}

/* Back timer styles */
.in_back_timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 20px;
  text-shadow: none;
  font-family: "Courier New", Courier, monospace;
}
.in_bt_item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.in_bt_item:not(:last-of-type)::after {
  content: "·";
  font-size: 2rem;
  color: var(--color-timer);
  position: absolute;
  top: 4px;
  right: -16px;
}
.in_bt_val {
  font-size: 2.6rem;
  color: var(--color-timer);
}
.in_bt_sign {
  font-size: 0.8rem;
  color: var(--color-timer);
}
